
body {
	/* margin: 0;
	/* padding: 0; */
	line-height: 1.7em;
	/* font-family: "Trebuchet MS", Arial, Helvetica, sans-serif; */
	font-size: 15px;
	color: #d1edf2; 
    background: #01121b url(images/templatemo_body_top.png) repeat-x top;
}
#links a{
	color: #d1edf2;
}
#links a:hover{
	color: rgb(133, 203, 21);
	padding: 24px;
	background: url(images/templatemo_menu_hover.jpg) no-repeat center bottom;
}




#testi a{
	color: black;
}
